#banner {
  position: relative;
  h1 {
    position: absolute;
    color: $big-title;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #808080, $alpha: 0.5);
    width: 100%;
    text-align: center;
    padding: 30px;
  }
}
#service {
  text-align: center;
  background-color: #fafafa;
  h1 {
    margin-top: 30px;
    color: $big-title;
  }
  p {
    margin: 30px 20% 0 20%;
    color: $text-color;
  }
}

.services-icons {
  text-align: center;
  margin-top: 60px;
  .fa {
    font-size: 50px;
    color: $big-title;
  }
  p {
    color: $text-color;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #banner {
    position: relative;
    h1 {
      position: absolute;
      color: $big-title;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba($color: #808080, $alpha: 0.5);
      width: 100%;
      text-align: center;
      padding: 10px;
      font-size: 20px;
    }
  }
  #service {
    h1 {
      font-size: 25px;
    }
  }
}
